@font-face {
  font-family: 'bigSpace';
  src: url('BigSpace.ttf');
  font-weight:normal;
  font-style:normal;
}
body {
 background-color: #64ccd6 !important;
}
h2{
  color:#FFFFFF;
  padding:10px;
  font-size:150px;
  font-family:'bigSpace';
}
h3{
  color:#FFFFFF;
  text-align:center;
  padding:10px;
  font-size:80px;
  font-family:'bigSpace';
}
h4{
color:#FFFFFF;
padding:10px;
text-align:center;
font-size:30px;
font-family:'bigSpace';
}
.cont1 {
  margin-left:auto;
  margin-right:auto;
  margin-top:60;
  max-width: 300px;
}

.container {
  margin-top:60;
}
